<header> 
  TinyApp!
</header>

<% if (!username) { %>
  <form action="/login" method="POST">
    <label>Login: 
      <input type="text" name="username">
      <input type="submit" value="Submit">
    </label>
  </form>
<% } else { %>
  <form action="/logout" method="POST">
    <label><%= username %>
      <input type="submit" value="Logout">
    </label>
  </form>
<% } %>
