<header> 
  Tiny App!
</header>

<% if (!user) { %>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
<% } else { %>
  <form action='/logout' method='POST'>
    <label> Logged in as <%= user.email %>
      <input type='submit' value='Logout'>
    </label>
  </form>
<% } %>