<% if (!username) { %>
  <form method='POST' action='/login'>
    <label>Login:
      <input type='text' name='username'>
      <input type='submit' value='Submit'>
    </label>
  </form>
<% } else { %>
  <form method='POST' action='/logout'>
    <label>Logged in
      <%= username %>
      <input type='submit' value='Logout'>
    </label>
  </form>
<% } %>